/* nav */

*{box-sizing: border-box;}

/* 오토레이아웃 */
nav{display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 32px 48px;
gap: 0px 24px;
width: 1200px;
height: 99px;
background: #FFFFFF;
border-bottom: 1px solid #D9D9D9;
}

