nav {
  height: 99px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 32px 48px;
  border-bottom: solid 1px #d9d9d9;
  background-color: #fff;
}

.Logo {
  width: 30.1px;
  height: 36.2px;
  flex-grow: 0;
}
.menu {
  height: 32px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  list-style: none;
  gap: 8px;
  padding: 0;
}

.menu a{
  text-decoration: none;
  color: black;
}
